/* reset css  */
@import url("./utils/reset.css");
@import url("./utils/accordion.css");

/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary-green: "#12E39C";
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}