/* reset css  */
@import url("./utils/reset.css");
@import url("./utils/accordion.css");

/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary-green: "#12E39C";
}

#root {
  width: 100vw;
  height: 100vh;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes pulseGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg {
  background: linear-gradient(270deg, rgb(18, 227, 0.1), rgb(0, 0, 0.15), rgb(18, 227, 0.15), rgb(0, 0, 0.2));
  background-size: 800% 800%;
  animation: pulseGradient 8s ease infinite;
}